main {
    font-family: 'Open Sans', sans-serif;
}

#main-h1 {
    font-family: 'Cormorant Garamond', serif;
}

.title {
    text-align: center;
    text-transform: capitalize;
}

.dropdown-btn {
    display: none;
}

#main-navbar-div {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#main-navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
    
    #main-img,  #main-img:hover {
        visibility: hidden;
    }

    header {
        text-align: center;
    }

    .dropdown-btn {
        display: block;
        text-transform: uppercase;
        border-radius: 20px;
        border: 2px solid white;
        padding: 5px;
        margin: 5px;
        align-items: center;
    }

    #main-navbar-div {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #main-navbar {
        display: none;
        position: absolute;
        z-index: 1;
    }

    #main-navbar a{
        display: block;
    }

    #main-navbar-div:hover {
        display: flex;
        position: relative;
        flex-direction: column !important;
        background-color: whitesmoke;
    }

    #main-navbar-div:hover #main-navbar{
        display: flex;
        position: relative;
        flex-direction: column;
        background-color: whitesmoke;
    }
}

#main-navbar-div a, button {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    align-items: center;
}

#main-navbar-div a:hover, button:hover{
    background-color: black;
    color: whitesmoke;
}

#main-navbar-div a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

#main-navbar-div ul li:hover a{
    color: whitesmoke;
}

#main-intro-goal-title {
    font-size: x-large;
    font-style: italic;
    text-decoration: underline;
}

#intro-section {
    display: grid;
    grid-template-columns: 3;    
}

a {
    grid-column: 1 / span 1;
    justify-self: right;
    align-self: center;
}

#main-img {
    grid-column: 1 / span 1;
    justify-self: center;
    justify-content: center;
    align-self: center;
    width: 60%;
    display: block;
    padding: 5px;
    animation: imgmove;
    animation-duration: 4s;
}

@keyframes imgmove {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#main-img:hover {
    width: 70%;
}

#main-intro-div {
    grid-column: 2 /  span 2;
}

.active-nav {
    background-color: black;
    color: whitesmoke !important;
}

.main-intro-text {
    margin-left: 30px;
    margin-right: 30px;

}

.goals-explanation {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 55px;
}

.title {
    font-family: 'Cormorant Garamond', serif;
}

.goals-title {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    text-align: left;
    font-size: x-large;
    font-family: 'Cormorant Garamond', serif;
}

.goals-title:nth-child(2) {
    background-color: aquamarine;
}
.goals-title:nth-child(4) {
    background-color: orange;
}
.goals-title:nth-child(6) {
    background-color: greenyellow;
}


.illustration-img {
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 10px 10px green;
}

.illustration-img:hover {
    width:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 10px 10px 2px 10px green;
}

.design-timeline-heading {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

.design-timeline-desc {
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
    text-align: justify;
}

#about-me-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 10px 10px cyan;
}

#about-me-img:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 20%;
    box-shadow: 10px 10px 5px 10px cyan;
}

.about-me-desc {
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
    text-align: justify;
}

.project-blockchain-img {
    width: 200px;
}

.footer-text{
    text-align: center;
}

figcaption {
    padding: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: wavy;
    font-size: small;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
}

form {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

.form-body {
    background-image: url('/images/bg-img.jpg');
}

